<!--
<div>
  <h3>Etiqueta div 1</h3>
  <ul>
    <li>{{ users [0] }}</li>
    <li>{{ users [1] }}</li>
    <li>{{ users [2] }}</li>
    <li>{{ users [3] }}</li>
    <li>{{ users [4] }}</li>
  </ul>
</div>
<div>
  <h3>Etiqueta div 2</h3>
  <ul>
    <li *ngFor="let user of users">
      {{ user }}
    </li>
    <li *ngIf="activated" >Activated</li>
  </ul>
</div>

<div>
  <h3>Etiqueta div 3</h3>
  <ul>
    <li *ngFor="let user of users">
      <app-user [nameUser] = 'user'></app-user>
    </li>
  </ul>
</div>

<div>
  <h3>Etiqueta div 4</h3>
  <ul>
    <app-user *ngFor="let user of users" [nameUser] = 'user'></app-user>
  </ul>
</div>

-
<div>
  <h3>Etiqueta div 5</h3>
  <ul>
    <p>Nombre: {{ name }} </p>
    <p>Edad: {{ age }} </p>
    <p>Calle: {{ address.street }} </p>
    <p>Ciudad: {{ address.city }} </p>
    <ul>
      <p>Hobbies</p>
      <li *ngFor="let hobbie of hobbies">
        {{ hobbie }}
      </li>
    </ul>
  </ul>
</div>

<div>
  <h3>Etiqueta div 6</h3>
  <ul>
    <li *ngFor="let user of users">
      {{ user}}
    </li>
  </ul>
</div>
-
<div>
  <h3>Etiqueta div 7</h3>
  <ul>
    <li *ngFor="let user of users">
      {{ user}} - <button (click)="sayHello()">
        Click me!
      </button>
    </li>
    <br>

<div>
  <h3>Etiqueta div 8</h3>
  <ul>
    <li *ngFor="let user of users">
      {{ user}} - <button (click)="sayHello()">
        X
      </button>
    </li>
    <br>


  <div>
    <h3>Etiqueta div 9</h3>
    <ul>
      <li *ngFor="let user of users">
        {{ user}} - <button (click)="deleteUser(user)">
          X
        </button>
      </li>
      <br>

    <div>
      <h3>Etiqueta div 10</h3>

      <form (submit) = 'addUser(newUser)' >

        <input type="text" #newUser>
        <button>Enviar</button>

      </form>
      <ul>
        <li *ngFor="let user of users">
          {{ user}} - <button (click)="deleteUser(user)">
            X
          </button>
        </li>
        <br>
      </ul>
    </div>
  -->
<div>

    <form action="">
      <input type="text" name="name" [(ngModel)]="name">
      <input type="text" name="age" [(ngModel)]="age">
    </form>

    Nombre: {{ name }} <br>
    Edad: {{ age }}
  </div>
